[*.sh]
# like -i=2
indent_style = space
indent_size = 2

# --language-variant
shell_variant      = posix
binary_next_line   = true
# --case-indent
switch_case_indent = true
space_redirects    = true
keep_padding       = true
# --func-next-line
function_next_line = true

# Ignore the entire "third_party" directory when calling shfmt on directories,
# such as "shfmt -l -w .".
# When formatting regular files explicitly, like "shfmt -w third_party/foo.sh",
# the files are always formatted regardless of this setting.
[third_party/**]
ignore = true
